.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.listas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    list-style-type: none;
}

.btn{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}